{% extends 'base.html' %}
{% load static %}


{% block main %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top"   style="background:linear-gradient(to bottom,rgba(0,0,0,1),transparent);">
    <div class="container d-flex align-items-center justify-content-lg-between">
  
      <h1 class="logo me-auto me-lg-0"><a href="/"><img src={% static "img/icons/amking_logo1.png" %} style="padding:3%;"></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="/img/logo.png" alt="" class="img-fluid"></a>-->
  
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/about_us">About</a></li>
          <li><a class="nav-link scrollto" href="/services">Services</a></li>
          <li><a class="nav-link scrollto" href="/projects">Projects</a></li>
          <li><a class="nav-link scrollto " href="/gallery">Gallery</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
  
      <a href="tel:+919689001000" class="get-started-btn scrollto">Call us</a>
  
    </div>
  </header><!-- End Header -->
<!--<div class="bg" style="position:fixed;">
  <img src="{% static 'img/bg2.jpg' %}" style="height:100vh;width:100vw;">
</div>-->
<!-- ======= Gallery Section ======= -->
<section id="portfolio" class="portfolio" style="padding-top:6%;">
    <div class="container" data-aos="fade-up">

      <div class="section-title" style="margin-top:5%;>
        <h2>Our</h2>
        <p>Gallery</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            {% for cat in category %}
              <li data-filter=".filter-{{ cat.name }}">{{ cat.name }}</li>
            {% endfor %}
            <!--<li data-filter=".filter-card">Experiences</li>
            <li data-filter=".filter-web">Floor Plan</li>-->
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
      {% for img in images %}
        <div class="col-lg-4 col-md-6 portfolio-item filter-{{ img.category.name }}">
            <div class="portfolio-wrap">
              <img src="/media/{{ img.image }}"class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{ img.title }}</h4>
                <p>short detail</p>
                <div class="portfolio-links">
                  <a href="/media/{{ img.image }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{ img.title }}"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
      {% endfor %}


      </div>

    </div>
  </section><!-- End Portfolio Section -->
<!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>



        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Head Office:</h4>
                <p>Amking Developers pvt ltd, Rainbow Shopping Complex, Thiruvananthapuram
                  KL 695036 IN
                </p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p><a href="mailto:info@amking.in" style="text-decoration:none;font-size:1.2em">info@amking.in</a></p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p><a href="tel:9630030053" style="text-decoration:none;font-size:1.2em">+91 9630030053</a></p>
                <p><a href="tel:9689001000" style="text-decoration:none;font-size:1em">+91 9689001000</a></p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="fname" class="form-control" id="name" placeholder="First Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="text" class="form-control" name="lname" id="name" placeholder="Last Name" required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="phone" class="form-control" id="name" placeholder="Mobile" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Submit</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

{% endblock %}