{% extends 'base.html' %}
{% load static %}
{% block main %}
      <!-- ======= Header ======= -->
  <header id="header" class="fixed-top"  style="background:linear-gradient(to bottom,rgba(0,0,0,1),transparent);">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="/"><img src={% static "img/icons/amking_logo1.png" %} style="padding:3%;"></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/about_us">About</a></li>
          <li><a class="nav-link scrollto" href="/services">Services</a></li>
          <li><a class="nav-link scrollto" href="/projects">Projects</a></li>
          <li><a class="nav-link scrollto " href="/gallery">Gallery</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="tel:+919689001000" class="get-started-btn scrollto">Call us</a>

    </div>
  </header><!-- End Header -->

    <section id="about" class="about" style="padding-bottom:0;background:linear-gradient(to bottom,#ffc451,white);padding-top:5.5em;">
      <div class="container" data-aos="fade-up">

        <div class="row" align="center">
          <div class="col-lg-12 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src={% static "img/icons/amking_logo1.png" %} class="img-fluid" alt="" style="border-radius: 10px 50px 10px 50px;">
          </div>
        </div>
        <div class="row" style="margin-top:3em;">
          <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">

            <p class="fst-italic" style="padding:0 5em 4em 5em">
              Welcome to <b>AMKING Bouilders & Developers PVT LTD</b><br>
              We're the catalysts for innovative, sustainable, and visionary construction and real estate solutions. Established with a commitment to redefine skylines and communities, we've consistently delivered excellence in construction and real estate services. With a passion for creating spaces that inspire, our journey is rooted in a dedication to craftsmanship, quality, and client satisfaction. Our expertise spans the entire spectrum of construction and development, encompassing residential, commercial, and industrial projects. From concept to completion, we orchestrate every phase of the process, ensuring precision, efficiency, and a relentless pursuit of perfection. What sets us apart is our unwavering focus on integrity, transparency, and reliability. Our team comprises seasoned professionals and experts who blend experience with innovation, consistently pushing boundaries and setting new benchmarks in the industry.

              <p style="padding:0 5em 4em 5em">At Amking, we don't just build structures; we craft experiences, curate environments, and foster communities. Our commitment to sustainability is ingrained in our practices, advocating for eco-friendly solutions and designs that stand the test of time. Driven by a vision to transform aspirations into reality, we strive to exceed expectations, delivering beyond bricks and mortar. Our ethos revolves around fostering enduring relationships, making us a trusted partner in every client's journey toward their dream space. Join us in building the future—where innovation meets functionality, and dreams find a home. Experience the excellence of Amking Developers Pvt. Ltd., where every project is a testament to our passion for construction and real estate.</p>
            </p>


          </div>
        </div>

      </div>
      <section class="inner-page" style="padding-bottom:0;">
        <div class="container" style="background-color:#ffffff;padding:0 5em 4em 5em;text-align:justify;">
          <h3 style="text-indent:0">Our Vision</h3>
          <div class="col-lg-12" style="padding:0 5em 4em 5em">
            <div class="col-lg-6"></div>
              <h3>Location and Accessibility:</h3
              <p>Situated in the picturesque Idukki district of Kerala, the land is conveniently located and easily accessible. It enjoys close proximity to major roads and transportation hubs, ensuring a seamless journey for residents and visitors alike. With its strategic location, the plot offers both seclusion and connectivity, striking the perfect balance for a peaceful yet convenient lifestyle.</p>
            </div><br>
              <h3>Natural Beauty and Landscapes:</h3
              <p>Immerse yourself in the captivating natural beauty that surrounds this plot. The lush greenery of the Western Ghats, towering mountains, and cascading waterfalls create a surreal ambiance. The land boasts panoramic views that extend as far as the eye can see, capturing the essence of Kanthalloor's breathtaking landscapes. Each sunrise and sunset paints the sky with vivid hues, transforming the land into a canvas of nature's finest art.</p><br>
            </div><br>
            <div class="col-lg-6">  <br>
              <h3>Serene Environment and Climate:</h3
              <p>Experience the blissful tranquility that permeates the atmosphere in Kanthalloor. The land enjoys a cool and pleasant climate throughout the year, offering respite from the scorching heat of the plains. The fresh mountain air rejuvenates the senses, providing a calm and invigorating environment for residents to unwind and reconnect with nature. The soothing sounds of chirping birds and rustling leaves create a symphony that enhances the overall tranquility of the surroundings.</p><br>
            </div><br>
            <div class="col-lg-6">
              <h3> Agricultural Potential:</h3
              <p>The land in Kanthalloor holds immense agricultural potential. With fertile soil and a favorable climate, it offers an ideal setting for a variety of crops and plantations. From tea gardens to spice plantations, the plot can be transformed into a fruitful venture. The region's reputation for high-quality tea and spices presents an opportunity to contribute to Kerala's rich agricultural heritage while also reaping the rewards of a profitable enterprise.</p><br>
            </div><br>
            <div class="col-lg-6">
              <h3>Investment Opportunities:</h3
              <p>Kanthalloor has emerged as a popular tourist destination, attracting visitors from all over the world. The growth in tourism presents promising investment opportunities for landowners. The plot's proximity to major attractions, trekking trails, and natural wonders makes it an ideal location for eco-friendly resorts, homestays, or vacation rentals. This investment not only ensures a steady income but also allows you to share the beauty of Kanthalloor with travelers seeking an unforgettable experience.</p><br>
            </div><br>
            <div class="col-lg-6">
              <h3>Infrastructure and Amenities:</h3
              <p>While embracing the tranquility of nature, the plot also benefits from the presence of essential infrastructure and amenities. The region offers reliable access to electricity, water, and other utilities, ensuring a comfortable living experience. Furthermore, the nearby town provides access to healthcare facilities, educational institutions, shopping centers, and other conveniences, catering to the everyday needs of residents.</p><br>
            </div><br>
            <div class="col-lg-6">
              <h3>Investment Opportunities:</h3
              <p>Kanthalloor has emerged as a popular tourist destination, attracting visitors from all over the world. The growth in tourism presents promising investment opportunities for landowners. The plot's proximity to major attractions, trekking trails, and natural wonders makes it an ideal location for eco-friendly resorts, homestays, or vacation rentals. This investment not only ensures a steady income but also allows you to share the beauty of Kanthalloor with travelers seeking an unforgettable experience.</p><br>
            </div><br>
          </div>


        </div>
      </section>
    </section>
    
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>



        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Head Office:</h4>
                <p>Amking Developers pvt ltd, Rainbow Shopping Complex, Thiruvananthapuram
                  KL 695036 IN
                </p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p><a href="mailto:info@amking.in" style="text-decoration:none;font-size:1.2em">info@amking.in</a></p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p><a href="tel:9630030053" style="text-decoration:none;font-size:1.2em">+91 9630030053</a></p>
                <p><a href="tel:9689001000" style="text-decoration:none;font-size:1em">+91 9689001000</a></p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="/" method="post" role="form" class="php-email-form" name="enquiryForm">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="fname" class="fname form-control" id="name" placeholder="First Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="text" class="lname form-control" name="lname" id="name" placeholder="Last Name" required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="phone" class="phn form-control" id="name" placeholder="Mobile" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="em form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="sub form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="msg form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="button" onclick="sendwhatsapp();" style="background:#ffc451;border:1px solid #ffc451;border-radius:50px;padding:1% 3% 1% 3%;">Submit</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

{% endblock %}