{% extends 'base.html' %}
{% load static %}

{% block main %}
<!-- ======= Header =======
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-lg-between">



    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="/">Home</a></li>
        <li><a class="nav-link scrollto" href="/about_us">About</a></li>
        <li><a class="nav-link scrollto" href="/projects">Projects</a></li>
        <li><a class="nav-link scrollto " href="/gallery">Gallery</a></li>
        <li><a class="nav-link scrollto" href="/testimonials">Testimonials</a></li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav> .navbar 

    <a href="#about" class="get-started-btn scrollto">Get Started</a>

  </div>
</header>End Header -->
<!-- ======= Header ======= -->
<header id="header" class="fixed-top"  style="background:linear-gradient(to bottom,rgba(0,0,0,1),transparent);">
  <div class="container d-flex align-items-center justify-content-lg-between">

    <h1 class="logo me-auto me-lg-0"><a href="/"><img src={% static "img/icons/amking_logo1.png" %} style="padding:3%;"></a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="/">Home</a></li>
        <li><a class="nav-link scrollto" href="/about_us">About</a></li>
        <li><a class="nav-link scrollto" href="/services">Services</a></li>
        <li><a class="nav-link scrollto" href="/projects">Projects</a></li>
        <li><a class="nav-link scrollto " href="/gallery">Gallery</a></li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <a href="tel:+919689001000" class="get-started-btn scrollto">Call us</a>

  </div>
</header><!-- End Header -->
<main id="main" style="padding:3%;background-image: url({% static 'img/bg5.jpg' %}); background-size:100vw 100%; background-position:fixed;">
    
  <!-- ======= Testimonials Section ======= -->
  <section id="about" class="about" style=" padding:3%;margin-top:5%;background:transparent;">
      <div class="section-title" style="margin-left:1%">
          <h2>Our</h2>
          <p>Services</p>
      </div>
    </secttion>
      <section id="services" class="services">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box"  style="border-radius: 10px 50px 10px 50px;">
                <div class="icon"><i class="bx bxl-codepen"></i></div>
                <h4><a href="#contact">Real Estate Developers</a></h4>
                <p>Real estate development is a business process, encompassing activities that range from the renovation and re-lease of existing buildings to the purchase of raw land and the sale of developed land or parcels to others. Real estate developers are the people and companies who coordinate all of these activities, converting ideas from paper to real property.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box" style="border-radius: 10px 50px 10px 50px">
                <div class="icon"><i class="bx bx-buildings"></i></div>
                <h4><a href="#contact">Residential Villas & Flats</a></h4>
                <p>Building containing three or more self-contained dwellings, whether or not those dwellings are used for short stay holidaymakers, including serviced or managed apartments</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box"   style="border-radius: 10px 50px 10px 50px">
                <div class="icon"><i class="bx bx-landscape"></i></div>
                <h4><a href="#contact">Property Dealers</a></h4>
                <p>We provide services related to the trading, supervision, management and marketing of real estate.</p>
              </div>
            </div>
            <!--<div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box"   style="border-radius: 10px 50px 10px 50px">
                <div class="icon"><i class="bx bx-wrench"></i></div>
                <h4><a href="#contact">Residential Construction Service</a></h4>
                <p>We specialize in creating spaces for people to live in. Whether it's a single-family home, a duplex, or a high-rise apartment building, residential construction services work to build comfortable, safe, and durable homes.</p>
              </div>
            </div>-->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box"   style="border-radius: 10px 50px 10px 50px">
                <div class="icon"><i class="bx bx-building-house"></i></div>
                <h4><a href="#contact">Building Construction</a></h4>
                <p>Building construction is the process of adding structure to real property. The vast majority of building construction projects are small renovations, such as the addition of a room, or renovation of a bathroom. Often, the owner of the property acts as a laborer, paymaster, and design team for the entire project.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box"   style="border-radius: 10px 50px 10px 50px">
                <div class="icon"><i class="bx bxs-landmark"></i></div>
                <h4><a href="#contact">Commercial Real Estate Service</a></h4>
                <p>Commercial Real Estate Services means those services of the type provided by the Company, including but not limited to the leasing, sales, development, property management, facilities management, consulting, mortgage origination and servicing.</p>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- End Services Section -->
  

    </div>
  </section><!-- End hero2 -->
      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact" style="border-radius:50px 0 50px 0;">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Us</p>
          </div>

          <div class="row mt-5">
  
            <div class="col-lg-4">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Head Office:</h4>
                  <p>Amking Developers pvt ltd, Rainbow Shopping Complex, Thiruvananthapuram
                    KL 695036 IN
                  </p>
                </div>
  
                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p><a href="mailto:info@amking.in" style="text-decoration:none;font-size:1.2em">info@amking.in</a></p>
                </div>
  
                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p><a href="tel:9630030053" style="text-decoration:none;font-size:1.2em">+91 9630030053</a></p>
                  <p><a href="tel:9689001000" style="text-decoration:none;font-size:1em">+91 9689001000</a></p>
                </div>
  
              </div>
  
            </div>
  
            <div class="col-lg-8 mt-5 mt-lg-0">
  
              <form action="/" method="post" role="form" class="php-email-form" name="enquiryForm">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="fname" class="fname form-control" id="name" placeholder="First Name" required>
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="text" class="lname form-control" name="lname" id="name" placeholder="Last Name" required>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="phone" class="phn form-control" id="name" placeholder="Mobile" required>
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="em form-control" name="email" id="email" placeholder="Your Email" required>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="sub form-control" name="subject" id="subject" placeholder="Subject" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="msg form-control" name="message" rows="5" placeholder="Message" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="button" onclick="sendwhatsapp();" style="background:#ffc451;border:1px solid #ffc451;border-radius:50px;padding:1% 3% 1% 3%;">Submit</button></div>
              </form>
  
            </div>
  
          </div>

        </div>
      </section><!-- End Contact Section -->

{% endblock %}